---
title: The Ten Outstanding Boy Scouts of the Philippines Association
layout: front
---
{% include nav.html %}
<div class="cover">
	<div class="cover-content">
		<div class="feature">
			<img src="/images/tag.png"/>
			<div class="feature-content">
				<div class="col-sm-6 col-sm-offset-3">
					<p>This site is still under construcion.</p>
					<a href="https://www.facebook.com/TOBSPAscout/" target="_blank" class="btn btn-underlined">More About Us</a>
				</div>
			</div>
		</div>
	</div>
</div>
<content>
	{% include what-we-do.html %}
	{% include updates.html %}
</content>
