<div class="row-image desaturated row-index" style="background-image: url('{{ site.baseurl }}/images/bg1.jpg')">
	<div class="container">
		<div class="col-sm-6">
			<h2>The Association</h2>
			<p>In 1993, a group of past TOBS awardees convened to jumpstart efforts in bringing together all past awardees of the annual Search.  In 1995, the group was officially organized and named Ten Outstanding Boy Scouts of the Philippines Association (TOBSPA).</p>
			<p>Over the years, the Association evolved as a strong support organization to the BSP in the development and implementation of its relevant projects, activities and advocacies for the advancement of the Filipino youth.</p>
			<a href="{{ site.baseurl }}/about" class="btn btn-hollow-inverse">More About Us</a>
		</div>
	</div>
</div>