<!DOCTYPE html>
<html>
<head>
	<title>{{ site.name }} - {{ page.title }}</title>
	<link href="{{ site.baseurl }}/css/bootstrap.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/css/bootstrap-additional.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>
<body>
	
	{% include header.html %}
	{% include nav.html %}
	<div class="container">
		<div class="col-md-8">
			<h1>{{ page.title }}</h1>
			<p class="muted">{{ page.date | date_to_long_string }}</p>
			{{ content }}
		</div>
		<div class="col-md-4">
			{% include sidebar.html %}
		</div>
	</div>
</body>
</html>